{% extends "coderedcms/pages/web_page_notitle.html" %}

{% load coderedcms_tags static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'website/css/top_calendar.css' %}">
{% endblock %}

{% block content %}
    <div class="parallax" style="background-image: url('{{ background_image_url }}');">

        <!-- top calendar -->
        <!-- Element สำหรับมือถือ -->
        <div class="d-block d-md-none">
            {% include "website/pages/includes/today_message_page/top_calendar_4m.html" %}
        </div>

        <!-- Element สำหรับโน๊ตบุ๊ค -->
        <div class="d-none d-md-block">
            {% include "website/pages/includes/today_message_page/top_calendar.html" %}
        </div>

        <!-- article -->
        {% include "website/pages/includes/today_message_page/article.html" %}

    </div>

    <!-- Organization Info, Description & Events -->
    <div class='py-2'>
        <!-- Organization Info, Description -->
        {% include "website/pages/includes/today_message_page/organization_info.html" %}

        <!-- Events -->
        {% include "website/pages/includes/today_message_page/event_calendar.html" %}

    </div>
{% endblock %}

{% block custom_scripts %}
    <script src="{% static 'website/js/today_message_page.js' %}"></script>
{% endblock %}

{% block coderedcms_scripts %}
    {{ block.super }}
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js" integrity="sha256-alsi6DkexWIdeVDEct5s7cnqsWgOqsh2ihuIZbU6H3I=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/bootstrap5@6.1.9/index.global.min.js" integrity="sha256-gUOOsuvXIJriWP5FGvNLUHPduBqgnIyGuAxWiWtHxMo=" crossorigin="anonymous"></script>
    <script src="{% static 'coderedcms/js/crx-events.js' %}?v={% coderedcms_version %}"></script>
{% endblock %}
