@charset "UTF-8";

@import url(fonts/fonts.css);
@import url(image.css);

html {
    height: 100%;
}

body * {
    font-family: 'Sarabun', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

#content {
    flex: 1 0 auto;
}

#footer {
    flex-shrink: 0;
}

.btn {
    font-family: 'Sarabun' !important;
}

.text-lead {
    /* General properties for text */
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.25;
}

@media (min-width: 768px) {
    .text-lead {
        /* Properties for 'text-lead' class on medium-sized screens and above */
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.5;
    }
}


/* poetry */
.poetry-wrapper {
    margin-left: 15px;  /* หรือตามค่าที่คุณต้องการ */
    margin-right: 15px; /* หรือตามค่าที่คุณต้องการ */
    display:flex;
    justify-content: center;
}

.poetry-container {
    max-width: 800px;
    margin: auto;
}

.stanza {
    margin-bottom: 20px;
}

.line {
    /* text-indent: -30px; */
    margin-bottom: 2px;
}


@media (max-width: 400px) {
    .crx-article {
        background-size: contain; /* หรือขนาดอื่นๆ ที่เหมาะสม */
    }
}

.parallax {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.quarter-moon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%; /* ให้ขอบภาพเป็นวงกลม */
    box-shadow: 0 0 20px 2px rgba(255, 250, 214, 0.5); /* สีเหลืองนวลเรืองแสง */
}

.fullmoon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%; /* ให้ขอบภาพเป็นวงกลม */
    box-shadow: 0 0 45px 8px rgba(255, 223, 0, 0.8); /* สีเหลืองนวลเรืองแสง */
}

.top-calendar {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background: linear-gradient(
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.1) );
}

/* Media query for mobile devices */
@media (max-width: 600px) {
    .top-calendar {
        max-width: 600px;
    }
}

.top-calendar-img {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-image: url('../img/NightSky.png'); /* เปลี่ยน 'path_to_your_image.jpg' ด้วยที่อยู่ของภาพของคุณ */
    background-size: cover; /* ทำให้ภาพครอบคลุมพื้นที่ทั้งหมด */
    background-position: center 70%; /* จัดภาพให้อยู่ตรงกลาง */
}

/* Media query for mobile devices */
@media (max-width: 600px) {
    .top-calendar-img {
        max-width: 600px;
    }
}
